@page
@model System_Shopper.Pages.Discounts.DiscountIndex
@{
    ViewData["Title"] = "Discounts";
}
<h2>@ViewData["Title"]</h2>

<p>Welcome to the Discounts page!</p>
<form method="post">
    <div class="form-group">
        <label for="DiscountName">Discount Name:</label>
        <input type="text" id="DiscountName" name="DiscountName" class="form-control" asp-for="@Model.NewDiscount.DiscountName" />
    </div>
    <div class="form-group">
        <label for="DiscountPercent">Discount Percent:</label>
        <input type="number" id="DiscountPercent" name="DiscountPercent" class="form-control" step="0.01" min="0" max="100" required />
    </div>
    <button type="submit" style="background-color: #FAC748;" class="btn mt-2">Add Discount</button>
</form>
