@page
@model System_Shopper.Pages.System_Builder.IndexModel
@{
    ViewData["Title"] = "System Builder";
}

<script type="text/javascript">

    const SystemListOut = [
        {
            right: "0px",
        },
        {
            right: "-80px",
        },
    ];

    const SystemListIn = [
        {
            right: "-80px";
        },
        {
            right: "0",
        },
    ];

    const SystemList = document.getElementById("SystemList");
    const ListButton = document.getElementById("ListTrigger");

    ListButton.addEventListener("click", () => {
        if (SystemList.style.right == 0) {
            console.log("reached if");
            SystemList.animate(SystemListOut, 100);
        } else {
            console.log("reached else");
            SystemList.animate(SystemListIn, 100);
        }
    });
</script>

<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-sm-3">
            <h2 style="color: #1D2F6F"><i class="bi bi-bricks"></i> System Builder</h2>
        </div>
    </div>
    <!-- Filters -->
    <div class="row">
        <div class="col-sm-8">
            <h4>Filters:</h4>
            <a class="px-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">A-Z</a>
            <a class="px-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">Z-A</a>
            <a class="px-2" style="border-right-style: solid; border-color: #8390FA; text-decoration: none">Price</a>
        </div>
        <!-- <div style="background-color: #8390FA" class="col-sm-4 mt-3">
             <div id="ListTrigger">System Items</div>
        </div> -->
    </div>
    <div class="row">
        <!-- Categories -->
        <div class="col-sm-2 mt-2">
            <ul>
                <li>Cases</li>
                <li>CPUs</li>
                <li>Coolers</li>
                <li>Graphics Cards</li>
                <li>Motherboards</li>
                <li>RAM</li>
                <li>Storage</li>
                <li>Power Supplies</li>
            </ul>
        </div>
        <!-- Products -->
        <div class="col-sm-10 mt-2">
            @foreach (var product in Model.ProductList)
            {
                <!--Product List-->
                <div style="border-style: solid; border-color: #1D2F6F; display: inline-block" class="col-5 mb-3 p-2 rounded">
                    <div class="row">
                        <div class="col-sm-5">
                            <!-- Product Image and Price-->
                            <img style="width: 150px;" class="img-fluid" src="@product.ProductImage" alt="Product Image" /> 
                            <h3>$<b>@product.Price</b></h3>
                        </div>
                        <!-- Product Information -->
                        <div class="col-sm-7">
                            <!-- Product Name -->
                            <div class="row">
                                <h6>@product.ProductName</h6>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <a style="background-color: #FAC748;" asp-page="" asp-route-id="@product.ProductId" class="btn mb-3">
                                        <i class="bi bi-plus mx-1"></i> Add To System
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- System List -->
        <div id="SystemListLabel" style="background-color: #8390FA" class="col-sm-3">
            System Items
        </div>
    </div>
</div>
