@page
@model System_Shopper.Pages.AddManufacturerModel
@{
    ViewData["Title"] = "Add Manufacturer";
}

<script type="text/javascript">
    function validateInput()
    {
        var isValid = true;
        var manufacturerName = document.getElementById("inputManufacturerName");
        var manufacturerBio = document.getElementById("inputManufacturerBio");

        if (manufacturerName.value == "")
        {
            isValid = false;
            document.getElementById("manufacturerNameError").innerHTML = "This field is required.";
        }
        if (manufacturerBio.value == "") {
            isValid = false;
            document.getElementById("manufacturerBioError").innerHTML = "This field is required.";
        }

        return isValid;
    }
</script>

<form method="post">
    <div>
        <h2>Add Manufacturer</h2>
    </div>
    <div class="row mb-3">
        <label for="inputManufacturerName" class="col-sm-2 col-form-label font-weight-bold" asp-for="NewManufacturer.ManufacturerName"></label>
        <div class="col-sm-10">
            <input type="text" rows="3" class="form-control" id="inputManufacturerName" asp-for="NewManufacturer.ManufacturerName" />
            <span asp-validation-for="NewManufacturer.ManufacturerName" class="text-danger" id="manufacturerNameError"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputManufacturerBio" class="col-sm-2 col-form-label font-weight-bold" asp-for="NewManufacturer.ManufacturerBio"></label>
        <div class="col-sm-10">
            <textarea rows="3" class="form-control" id="inputManufacturerBio" asp-for="NewManufacturer.ManufacturerBio"></textarea>
            <span asp-validation-for="NewManufacturer.ManufacturerBio" class="text-danger" id="manufacturerBioError"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputManufacturerLogo" class="col-sm-2 col-form-label font-weight-bold" asp-for="NewManufacturer.ManufacturerLogo"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputManufacturerLogo" asp-for="NewManufacturer.ManufacturerLogo">
        </div>
    </div>
    <button type="submit" style="background-color: #FAC748;" class="btn" onclick="return validateInput()">Add Manufacturer</button>
</form>
